
body {
    background-image: url('/bg_2.jpg');
    background-size: contain;
    background-position: center; 
    color: rgb(83, 13, 13);
}

.opacity{
    border: none;
    background-color: rgba(250, 235, 215, 0.76);

}
.opacity:hover{
    background-color: rgba(250, 235, 215);;
}

.green 
{
    color:#279977;
    
}
